<!DOCTYPE html>
<html lang="en">
<head>
    <title>Professor Page</title>
</head>
<body>
    <button (click)="logout()" id="logout">LogOut</button>
    <h1>Welcome to the Professor Page</h1>
    <br>Hello, {{this.username}}<br><br>
    <h2>Your course is {{this.course}}</h2>
    <button (click)="printGrades()">Print Students and Grades</button>
    <p>{{this.data}}</p>
    <h2>Update Grades</h2>
    <form [formGroup]="updateForm">
        <p>UserName</p>
        <input id="text" type="text" name="username" formControlName="username">
        <p>NewGrade</p>
        <input id="text" type="text" name="newgrade" formControlName="newgrade"><br>
        <button (click)="updateButton()" id="updateButton">Update Grades</button>
    </form>
</body>
</html>
<app-login-professor (username)="onLogin($event)"></app-login-professor>