<!DOCTYPE html>
<html lang="en">
<head>
    <title>SignUp Student</title>
</head>
<body>
    <style type="text/css">
        </style>
        <div id="box">
                <p id="studentId">SignUp Student</p>
                <form [formGroup]="this.registerForm">
                    <input id="text" type="text" name="username" formControlName="username"><br><br>
                    <input id="text" type="text" name="password" formControlName="password"><br>
                    <br><button (click)="register()">SignUP</button><br><br>
                    <a routerLink="/students" routerLinkActive="active">Login Students</a>
                </form>
        </div>
        <div id="box2">
            <p id="professorId">SignUp Professor</p>
            <form [formGroup]="this.professorForm">
                <input id="text" type="text" name="username" formControlName="username"><br><br>
                <input id="text" type="password" name="password" formControlName="password"><br>
                <br><button (click)="registerProfessor()">SignUP</button><br><br>
                <a routerLink="/professors" routerLinkActive="active">Login Professor</a>
            </form>
        </div>
</body>
</html>

<router-outlet></router-outlet>