<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Website</title>
</head>
<body>
    <button (click)="logOut()" id="logOutButton">Logout</button>
    <h1>This is the Student Page</h1>
    <h2>Hello, {{this.username}}</h2>
    <button (click)="printGrades()" id="printButton">Click To Print Grades</button>
    <p id="printHere">{{data}}</p>
    <button (click)="prevButton()" id="prevButton">Previous</button>
    <button (click)="nextButton()" id="nextButton">Next</button>
<script>  
</script>
</body>
</html>
<app-login-student (username)="onLogin($event)"></app-login-student>
